* {
  text-align: center;
}

.rightside {
  text-align: right;
  margin: -20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:flex-end;
}

.leftside {
  text-align: left;
  margin: 20px 0 0 10px;
}
